body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

select, input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
